<br>
<div class="card mb-3" style="width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../img/jdequetoi.png" class="img-fluid rounded-start" alt="jdequetoi">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Dr. Desquetoi Jonathan</h5>
        <p class="card-text">N&eacute;e le 24 mai 1976 &agrave; Erlosen en Suisse.</p>
        <table class="table">
		  <tr>
		    <td><span>&#8226;</span> Bachelor en m&eacute;decine Humaine &agrave l&#039;Universit&eacute; - Gen&egrave;ve.</td>
		  </tr>
		  <tr>
		    <td><span>&#8226;</span> Pro. &agrave; Florida State University - Tallahassee.</td>
		  </tr>
		  <tr>
		    <td><span>&#8226;</span> MD. au Centre de R&eacute;&eacute;ducation Fonctionnelle - Clinique Le Floride - Elsan.</td>
		  </tr>
		</table>
        <br>
        <p class="card-text"><small class="text-muted">Dr. J. Desquetoi</small></p>
      </div>
    </div>
  </div>
</div>