<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<br>
<div class="card mb-3" style="width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../img/jdequetoi.png" class="img-fluid rounded-start" alt="jdequetoi">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Dr. Desquetoi Jonathan</h5>
        <p class="card-text">N&eacute;e le 24 mai 1976 à Erlosen en Suisse.</p>
        <table class="table">
		  <tr>
		    <td><span>&#8226;</span> Bachelor en médecine Humaine &agrave à Université; - Genève.</td>
		  </tr>
		  <tr>
		    <td><span>&#8226;</span> Pro. à Florida State University - Tallahassee.</td>
		  </tr>
		  <tr>
		    <td><span>&#8226;</span> MD. au Centre de Rééducation Fonctionnelle - Clinique Le Floride - Elsan.</td>
		  </tr>
		  <tr>
		    <td><span>&#8226;</span> Prix du Meilleur lauréats jeune espoir de la Médecine Européen.</td>
		  </tr>
		</table>
        <br>
        <p class="card-text"><small class="text-muted">Dr. J. Desquetoi</small></p>
      </div>
    </div>
  </div>
</div>

<div><p>Depuis le début de ses études le docteur Jonathan Dèsquetoi, à tout mis en œuvre pour le bien-être de ses patients.
Déjà très jeune, le docteur Jonathan Dèsquetoi, se penche sur les études scientifiques du bien-être de ses patients.
Il devient alors expert en médecine traditionnel chinoise du bien-être circulation des 
 forces intérieure énergétique circulatoire du corps humain.
Lors de ses recherches, il devient célèbre par la démonstration des études du docteur Masaru Emoto célèbre scientifique japonais. 
Après plusieurs expérimentation scientifique, le docteur Jonathan Dèsquetoi, reproduit en laboratoire ces expériences.
Après plusieurs années de recherches et d'études fondamentales, il arrive à la même conclusion que le docteur Masaru Emoto, qu'il est possible de charger grâce à des ondes tellurique séquentiel porteur d'onde générique de la sub molécule de matière.
Il met au point grâce à un supercalculateur situé à Genève en Suisse, un algorithme matématique et informatique permettant grâce à une enveloppe génératrice acoustique séquentiel porteuse d'une onde qui permet de reproduire certaines sub molécule de matière.
</p></div>